<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.demo.dao.StorageMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kevin.demo.entity.Storage">
        <id column="id" property="id"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="biz_id" property="bizId"/>
        <result column="sharding_key" property="shardingKey"/>
        <result column="user_id" property="userId"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warehouse_id, biz_id, sharding_key, user_id, amount
    </sql>

    <select id="query" resultMap="BaseResultMap">
      select * from storage
    </select>

    <insert id="insertSelective" keyProperty="id"  parameterType="com.kevin.demo.entity.Storage">
        insert into storage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="bizId != null">
                biz_id,
            </if>
            <if test="shardingKey != null">
                sharding_key,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=BIGINT},
            </if>
            <if test="bizId != null">
                #{bizId,jdbcType=BIGINT},
            </if>
            <if test="shardingKey != null">
                #{shardingKey,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

</mapper>
